@page "{handler?}/{clientId?}"
@model Fido2me.Pages.OidcApp.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-page="./Create">New Client</a> 
</p>

@if(Model.OidcClientIndexVMs is null)
{
    <p>No entries yet</p>
}
else
{  
    <table class="table">
        <thead>
            <tr>
                <th>
                    Enabled
                </th>
                <th>
                    Type
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OidcClientIndexVMs)
            {
            <tr>
                <td>
                    @if (@item.Enabled)
                    {
                        <i class="bi bi-check-square"></i>
                    }
                    else
                    {
                        <i class="bi bi-x-square"></i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-clientid="@item.Id">Edit</a>
                </td>
                <td>
                    <form method="post" asp-page-handler="enable" asp-route-clientid="@item.Id">
                        @{
                            string labelEnable = item.Enabled ? "Disable" : "Enable";
                        }
                        <input type="submit" value="@labelEnable" class="btn btn-outline-primary" />
                    </form>
                </td>
                <td>
                        <form method="post" asp-page-handler="delete" asp-route-clientid="@item.Id" onclick="return confirm('Are you sure you want to delete this?')">
                        <input type="submit" value="Delete" class="btn btn-outline-danger" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
}